.container .card .contentBox {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.container .card .contentBox h3 {
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.4em;
}
.container .card .contentBox p {
  color: #000;
}
.contentBox .bank-choose {
  margin: 24px 12px;
  padding: 40px 30px;
  background: #ebecf0;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgb(255 255 255), 6px 6px 20px rgb(0 0 0 / 10%);
}
.contentBox .select {
  width: 50%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
