.header_login {
  padding: 2% 0;
  text-align: center;
}
.input-login {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input-login label:first-child {
  margin-left: 4%;
}
.login_btn {
  display: block;
  width: 100%;
}
@media (max-width: 1024px) {
  .input-login {
    flex-direction: column;
  }
}
